---
// COMPONENTS
import Header from "../components/Header.astro";
import Posts from "../components/Posts.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";

// STYLE SHEETS
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/Logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Gubi Blog</title>
  </head>
  <body>
    <main>
      <Header />
      <Hero
        className="hero"
        coverImage={"/images/Main-Article-Image.png"}
        title={"Weekly Newsletter: Tweets for Higher Engagements"}
        description={"Boost your social media presence with these proven strategies for crafting tweets that generate higher engagements. Learn how to captivate your audience, increase retweets, and grow your followers."}
        avatar={"/images/man.png"}
        name={"Ogubuike Emejuru"}
        position={"Mechanical Engineer"}
      />
      <Posts />
      <Footer />
    </main>
  </body>
</html>
